<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/full-page-layout.html}">

<head>
    <title>Customer Registration</title>
</head>
<th:block layout:fragment="breadcrumb">
    <div id="breadcrumb" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="breadcrumb-header">Customer Registration</h3>
                    <ul class="breadcrumb-tree">
                        <li><a href="#">Home</a></li>
                        <li class="active">Sign Up</li>
                    </ul>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
</th:block>
<th:block layout:fragment="body">
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <div class="col-md-10">
                    <!-- Billing Details -->
                    <form method="post" th:action="@{'/customer/signup'}" th:object="${customerSignupForm}">
                        <div class="billing-details">
                            <div class="section-title">
                                <h3 class="title">Customer Signup</h3>
                            </div>
                            <div class="form-group">
                                <input class="input" type="email" name="emailAddress" placeholder="Email Address"
                                       th:field="*{emailAddress}">
                                <p class="text-danger" th:if="${#fields.hasErrors('emailAddress')}"
                                   th:errors="*{emailAddress}"></p>
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" name="mobileNo" placeholder="Mobile Number"
                                       th:field="*{mobileNo}">
                                <p class="text-danger" th:if="${#fields.hasErrors('mobileNo')}"
                                   th:errors="*{mobileNo}"></p>
                            </div>
                            <div class="form-group">
                                <input class="input" type="password" name="password" placeholder="Password"
                                       data-toggle="tooltip"
                                       title="Password should be between 8 and 16 characters and should contain atleast 1 lowercase, 1 uppercase and 1 special character">
                                <p class="text-danger" th:if="${#fields.hasErrors('password')}"
                                   th:errors="*{password}"></p>
                            </div>
                            <div class="form-group">
                                <input class="input" type="password" name="rePassword" placeholder="Re-type Password"
                                       data-toggle="tooltip"
                                       title="Re-Type password should match with Password">
                                <p class="text-danger" th:if="${#fields.hasErrors('rePassword')}"
                                   th:errors="*{rePassword}"></p>
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" name="firstName" placeholder="First Name"
                                       th:field="*{firstName}">
                                <p class="text-danger" th:if="${#fields.hasErrors('firstName')}"
                                   th:errors="*{firstName}"></p>
                            </div>
                            <div class="form-group">

                                <input class="input" type="text" name="lastName" placeholder="Last Name"
                                       th:field="*{lastName}">
                                <p class="text-danger" th:if="${#fields.hasErrors('lastName')}"
                                   th:errors="*{lastName}"></p>
                            </div>
                            <div class="form-group">
                                <input class="input" id="dob" type="date" name="dob"
                                       th:field="*{dob}" data-toggle="tooltip" title="Date of Birth">
                                <p class="text-danger" th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"></p>
                            </div>
                            <div class="form-group">
                                <label for="male">Male: </label>
                                <input id="male" type="radio" name="gender" value="M" th:field="*{gender}">
                                <label for="female">Female:</label>
                                <input id="female" type="radio" name="gender" value="F" th:field="*{gender}">
                                <p class="text-danger" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></p>
                            </div>
                            <div class="input-checkbox">
                                <input type="checkbox" value="Y" id="terms" name="termsAndConditions">
                                <label for="terms">
                                    <span></span>
                                    I've read and accept the <a href="#" data-toggle="modal"
                                                                data-target="#termsAndConditions">terms & conditions</a>

                                </label>
                                <p class="text-danger" th:if="${#fields.hasErrors('termsAndConditions')}"
                                   th:errors="*{termsAndConditions}"></p>
                            </div>
                            <button class="primary-btn order-submit" type="submit">Register</button>
                        </div>
                    </form>
                    <!-- /Billing Details -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
    </div>
    <div class="modal fade" id="termsAndConditions" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="termsAndConditionsLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="termsAndConditionsLabel">Terms and Conditions</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Please read the terms and conditions before accepting them.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>
