<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/full-page-layout.html}">

<head>
    <title>Customer Registration Status</title>
</head>
<th:block layout:fragment="breadcrumb">
    <div id="breadcrumb" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="breadcrumb-header">Email Verification</h3>
                    <ul class="breadcrumb-tree">
                        <li><a href="#">Home</a></li>
                        <li class="active">Signup</li>
                    </ul>

                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
</th:block>
<th:block layout:fragment="body">
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-10">
                    <p>Looks like your email verification is pending for activating your account. We have sent an
                        verification link to the <span th:text="${emailAddress}">Email Address</span>, please click on
                        the link to verify.
                    In case if you have lost your verification link, click <a href="javascript:resendEmailVerificationLink();">here</a> to resent</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="verificationModal" tabindex="-1" role="dialog" aria-labelledby="verificationModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="verificationModalLabel">Resend VerificationLink Status</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalBody">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        function resendEmailVerificationLink() {
            var userAccountId=[[${userAccountId}]];

            $.ajax({
                type: "GET",
                url: baseURL +"/customer/"+userAccountId+"/resendVerificationEmail",
                success: function(data) {
                    $("#modalBody").html("Email Verification Link has been sent successfully. Please verify your email address by clicking on the link sent, for activating your account");
                    $('#verificationModal').modal(true)
                },
                error: function(jqXHR, error, status) {
                    if(jqXHR.status == "410") {
                        $("#modalBody").html("Unable to resend the Verification Link, because user is already activated. Proceed for login");
                    } else if(jqXHR.status=="404") {
                        $("#modalBody").html("Unable to locate the user to resend the OTP, if the problem persist, please contact customer service");
                    }else {
                        $("#modalBody").html("Unknown error");
                    }
                    $('#verificationModal').modal(true)
                }
            });
        }
    </script>
</th:block>
</html>
