<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/full-page-layout.html}">

<head>
    <title>Customer Registration Status</title>
</head>
<th:block layout:fragment="breadcrumb">
    <div id="breadcrumb" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="breadcrumb-header">Error</h3>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
</th:block>
<th:block layout:fragment="body">
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-10">
                    <p style="text-danger" th:text="errorMessage">Error Message</p>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>
