<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/full-page-layout.html}">

<head>
    <title>Find Account and Activate</title>
</head>
<th:block layout:fragment="breadcrumb">
    <div id="breadcrumb" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="breadcrumb-header">Find Account</h3>
                    <ul class="breadcrumb-tree">
                        <li><a href="#">Home</a></li>
                        <li class="active">Find and Activate</li>
                    </ul>

                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
</th:block>
<th:block layout:fragment="body">
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-10">
                    <p>
                        Provide the email address to proceed for find and activate the account.
                    </p>
                </div>
            </div>

            <form method="post"
                  th:action="@{/customer/lookupAndActivateAccount}">
                <div class="row justify-content-md-center" >
                    <div class="col-md-10">
                        <p class="text-danger"></p>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-md-10">
                        <div class="billing-details">
                            <div class="form-group">
                                <input class="input" type="email" name="emailAddress" placeholder="Email Address">
                                <p class="text-danger hide" id="emailAddress_error"></p>
                            </div>
                            <button class="primary-btn order-submit" type="submit">Verify</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script th:inline="javascript">

    </script>
</th:block>
</html>
